.banner01{
    position:absolute;
    left:0;
   top:0;
    background-color:#fa9400;
    width:100%;
   height:10% 
}
.banner02{
    position:absolute;
    left:0;
   top:1500px;
    background-color:#fa9400;
    width:100%;
    height:100px;
    border-radius: 25px 25px 0px 0px;
    box-shadow:0 15px 90px #ffa318d7;
}
.imgcomments{
    position:absolute;
    left:18%;
   top:880px;
   width:65%;
   height:520px;
   border-radius:25px;
}
body{
   font-family:Arial,sans-serif
}
.container{
   max-width:800px;
   margin:0 auto
}
h2{
   text-align:center
}
h1,h5,p{
   text-align:center;
   color:#fff
}
.disclamer{
   color:#fff;
   width:70%
}
.video-container{
   position:relative;
   padding-bottom:56.25%;
   padding-top:30px;
   height:0;
   overflow:hidden;
   box-shadow: 0 0 70px 2px #fa9400,0 0 0 currentColor
}
.video-container iframe{
   position:absolute;
   top:0;
   left:0;
   width:100%;
   height:100%
}
.buy-button{
   color:#fff;
   background-color:#fa9400;
   padding:10px 20px;
   border: #fa9400;
   border-radius: 20px;
   box-shadow:0 0 10px 2px #fa9400,0 0 0 currentColor;
   font-size:1.2em;
   text-transform:uppercase;
   font-weight:700;
   transition:background-color .3s ease
}
.buy-button:hover{
   color: black;
   background-color:#0f0;
   transform:scale(1.1);
   box-shadow:0 0 10px 2px #0f0;
}
.span{
   color: red;
}
a {
 color: #fff;
}
a:link {
    text-decoration: none; 
   }
a:hover {
    text-decoration: underline; 
}
   /* Codigo para politica de privacidade */
   .bannerpl {
      position: absolute;
      top: 5%;
      left: 10%;
      width: 80%;
      height: 150%;
      border-radius: 65px;
      background-color: #fff;
   }
   .bannerterm {
      position: absolute;
      top: 5%;
      left: 10%;
      width: 80%;
      height: 210%;
      border-radius: 65px;
      background-color: #fff;
   }
 .p{
   text-align: left;
   width: 80%;
 }
 .a {
   color:  rgb(68, 68, 68);;
 }
 .buttonVlt {
   color:#fff;
   background-color:#fa9400;
   padding:10px 20px;
   border: #fa9400;
   border-radius: 20px;
   box-shadow:0 0 10px 2px #fa9400,0 0 0 currentColor;
   font-size:1.2em;
   text-transform:uppercase;
   font-weight:700;
   transition:background-color .3s ease
}
.buttonVlt:hover{
   color: rgb(255, 255, 255);
   background-color:#fa9400;
   transform:scale(1.1);
   box-shadow:0 0 10px 2px #fa9400;
}
@media (max-width: 600px){
   .container{
       width:90%
   }
   h1,h2{
       font-size:1.5em
   }
   .buy-button{
       color:#fff;
       background-color:#fa9400;
       padding:10px;
       border-radius:20px;
       font-size:18px;
       text-transform:uppercase;
       font-weight:700;
       text-align:center;
       transition:background-color .3s ease
   }
   .banner01{
       position:absolute;
       left:0;
       top:0;
       background-color:#fa9400;
       width:100%;
       height:80px
   }
   .banner02{
       position:absolute;
       left:0;
       top: 900px;
       background-color:#fa9400;
       width:100%;
       height:90px;
       border-radius: 25px 25px 0px 0px;
       box-shadow:0 15px 90px #ffa318d7;
   }
   .imgcomments{
       position:absolute;
       left:10%;
       top:645px;
       width:80%;
       height: 200px;
       border-radius:15px;
       box-shadow:0 15px 25px rgba(0,0,0,0.692),0 5px 10px rgba(0,0,0,0.05)
   }
   p{ 
      width: 100%;

   }
   /* Codigo para politica de privacidade */
   .bannerpl {
      position: absolute;
      top: 5%;
      left: 10%;
      width: 80%;
      height: 315%;
      border-radius: 65px;
      background-color: #fff;
   }
   .bannerterm {
      position: absolute;
      top: 5%;
      left: 10%;
      width: 80%;
      height: 480%;
      border-radius: 65px;
      background-color: #fff;
   }
}