.banner01{
    position:absolute;
    left:0;
   top:0;
    background-color:#fa9400;
    width:100%;
   height:10% 
}
.banner02{
    position:absolute;
    left:0;
    top: 3680%;
    background-color:#fc5204;
    width:100%;
    height:100px;
    border-radius: 25px 25px 0px 0px;
}
.containerTextDpm{
   height: 40%;
}
.imgsmartm1{
   position: absolute;
   top: 20%;
   right: 78%;
   width: 350px;
   height: 350px;
}
.imgsmartm2{
   position: absolute;
   top: 20%;
   right: 75%;
   width: 250px;
   height: 250px;
}
.textdescr{
   font-size: 90%;
   font-weight: lighter;
   font-family: Arial, sans-serif;
   position: absolute;
   line-height: 1.2;
   top: 5%;
   left: 20%;
   width: 80%;
   height: 20%;
}
.textbonus{
   font-size: 90%;
   position: absolute;
   font-weight: lighter;
   font-family: Arial, sans-serif;
   line-height: 1.2;
   top: 20%;
   left: 23%;
   width: 60%;
   height: 20%;
}
.h2bonus{
   color: #fff;
   text-align: left;
}
.h2descr{
   color: #fff;
   text-align: left;
}
.pdescr{
   font-weight:lighter;
   text-align: left;
   width: 99%;
}
ul {
   list-style-type: disc;
   color: white;
 }
.imgest{
   width: 110px;
   height: 27px;
}
.imgdpm{
   width: 100px;
   height: 90px;
   border-radius: 100%;
}
table{
   position:absolute;
   left: 8%;
  top: 2070%;
   border-collapse: separate;
   border-spacing: 50px;
}
.trbonus{
   position:absolute;
   left: 0%;
  top:590px;
}
.tdbonus{
   background-image: url(https://www.imagemhost.com.br/images/2023/02/18/Design-sem-nome.png);
   background-position: center center;
   background-size: cover;
   z-index: -1;
   border: 2px solid;
   border-radius: 20px;
   width: 1100px;
   height: 300px;
}
.bannerdescr{
   position:absolute;
   left: 0%;
   top: 930px;
   background-color: #fa9400;
   width: 100%;
   height: 470px;
   background-image: url(https://www.imagemhost.com.br/images/2023/02/18/Design-sem-nome.png);
  background-position: center center;
  background-size: cover;
  z-index: -1;
}
td {
   border: 3px solid #fc5204;
   border-radius: 25px;
   width: 300px;
   height: 400px;

 }
body{
   font-family:Arial,sans-serif
}
.container{
   max-width:800px;
   margin:0 auto
}
h2{
   text-align:center
}
h1,h5,p{
   text-align:center;
   color:#fff
}
.h5 {
   font-weight: lighter;
   color: #ffffffb0;
}
h3 {
   width: 80%;
   text-align: center;
   color: #ffffff;
   font-weight: lighter;

}
.disclamer{
   color:#fff;
   width:70%
}
.video-container{
   position:relative;
   padding-bottom:56.25%;
   padding-top:0px;
   height:0;
   overflow:hidden;
   box-shadow: 0 0 70px 2px #fa9400,0 0 0 currentColor;
}
.buy-button1{
   position:absolute;
   left:42%;
   top:820px;
   color:#fff;
   background-color:#fa9400;
   padding:10px 20px;
   border: #fa9400;
   border-radius: 20px;
   box-shadow:0 0 10px 2px #fa9400,0 0 0 currentColor;
   font-size:1.2em;
   text-transform:uppercase;
   font-weight:700;
   transition:background-color .3s ease;

}
.buy-button2{
   position:absolute;
   left:42%;
   top:3540%;
   color:#fff;
   background-color:#fa9400;
   padding:10px 20px;
   border: #fa9400;
   border-radius: 20px;
   box-shadow:0 0 10px 2px #fa9400,0 0 0 currentColor;
   font-size:1.2em;
   text-transform:uppercase;
   font-weight:700;
   transition:background-color .3s ease;
}
.buy-button1:hover{
   background-color:#0f0;
   transform:scale(1.1);
   box-shadow:0 0 10px 2px #0f0;
}
.buy-button2:hover{
   background-color:#0f0;
   transform:scale(1.1);
   box-shadow:0 0 10px 2px #0f0;
}
.span{
   color: red;
}
a {
 color: #fff;
}
a:link {
    text-decoration: none; 
   }
a:hover {
    text-decoration: underline; 
}
.table-wrapper {
   display: flex;
   overflow-x: auto;
 }
 
  
@media (max-width: 600px){
   .container{
       width:90%
   }
   .h2bonus{
      position: relative;
      top: 0%;
      left: 40%;
      color: #fff;
      text-align: left;
      width: 65%;
   }
   .imgsmartm2{
      position: relative;
      top: 10%;
      left: 0%;
      width: 150px;
      height: 150px;
   }
   .containerTextDpm{
      height: 460px;
   }
    td, th {
      display: block;
      margin-bottom: 15%;
      padding-bottom: 23%;
    }
    table{
      position: absolute;
      top: 1500px;
      left: 5%;
      border-collapse: separate;
      border-spacing:13px;

   }

   .tdbonus{
      position: relative;
      right: 2.5%;
      background-image: url(https://www.imagemhost.com.br/images/2023/02/18/Design-sem-nome.png);
      background-position: center center;
      background-size: cover;
      z-index: -1;
      border: 2px solid;
      border-radius: 20px;
      width: 350px;
      height: 370px;
   }
   .textbonus{
      font-size: 90%;
      position: absolute;
      font-weight: lighter;
      font-family: Arial, sans-serif;
      line-height: 1.2;
      top: 5%;
      left: 10%;
      width: 85%;
      height: 75%;
   }
   .trbonus{
      position:absolute;
      left: 0%;
     top:1590px;
   }
   .imgsmartm1{
      display:none;
   }
   .textdescr{
      font-size: 90%;
      font-weight: lighter;
      font-family: Arial, sans-serif;
      position: absolute;
      line-height: 1.2;
      top: 5%;
      left: 10%;
      width: 80%;
      height: 20%;
   }
   .bannerdescr{
      position:absolute;
      left: 0%;
      top: 650px;
      background-color: #fa9400;
      width: 100%;
      height: 780px;
      background-image: url(https://www.imagemhost.com.br/images/2023/02/18/Design-sem-nome.png);
     background-position: center center;
     background-size: cover;
     z-index: -1;
   }
   h1,h2{
       font-size:1.5em
   }
   .buy-button1{
      position: absolute;
      top: 690%;
      left: 100px;
       color:#fff;
       padding:10px;
       border-radius:20px;
       font-size:18px;
       text-transform:uppercase;
       font-weight:700;
       text-align:center;
       transition:background-color .3s ease;
   }
   .buy-button2{
      position:absolute;
      left:22%;
      top:4500%;
      color:#fff;
      background-color:#fa9400;
      padding:10px 20px;
      border: #fa9400;
      border-radius: 20px;
      box-shadow:0 0 10px 2px #fa9400,0 0 0 currentColor;
      font-size:1.2em;
      text-transform:uppercase;
      font-weight:700;
      transition:background-color .3s ease;
   }
   .banner01{
       position:absolute;
       left:0;
       top:0;
       background-color:#fa9400;
       width:100%;
       height:80px
   }
   .banner02{
       position:absolute;
       left:0;
       top: 4620%;
       background-color:#fa9400;
       width:100%;
       height:90px;
       border-radius: 25px 25px 0px 0px;
   }
   p{ 
      width: 100%;

   }
    /* Codigo para politica de privacidade */
    .bannerpl {
      position: absolute;
      top: 5%;
      left: 10%;
      width: 80%;
      height: 150%;
      border-radius: 65px;
      background-color: #fff;
   }
   .bannerterm {
      position: absolute;
      top: 5%;
      left: 10%;
      width: 80%;
      height: 210%;
      border-radius: 65px;
      background-color: #fff;
   }
 .p{
   text-align: left;
   width: 80%;
 }
 .a {
   color:  rgb(68, 68, 68);;
 }
 .buttonVlt {
   color:#fff;
   background-color:#fa9400;
   padding:10px 20px;
   border: #fa9400;
   border-radius: 20px;
   box-shadow:0 0 10px 2px #fa9400,0 0 0 currentColor;
   font-size:1.2em;
   text-transform:uppercase;
   font-weight:700;
   transition:background-color .3s ease
}
.buttonVlt:hover{
   color: rgb(255, 255, 255);
   background-color:#fa9400;
   transform:scale(1.1);
   box-shadow:0 0 10px 2px #fa9400;
}
}